* { 
  /* 해당 페이지 전체 여백들 0으로 시작 */
  margin: 0px;
  padding: 0px;
}

body{
  height: 100vh;
  width: 100%;
}

body {
  overflow: hidden;
  width: 100%;
  height: 100vh;
}


/* 헤더 */


/* 메인 디자인 시작 */
.partyForumWriteing-main{
  /* 메인에 있는 컨텐츠들은 세로로 정렬을 할거기 때문에 felx와 column으로 지정 */
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.partyForumWriteing-main-container { 
  /* 해당 컨텐츠가 들어갈 모든 요소들(main태그안에 큰 틀) */
  left: 50%;
  margin-top: 30px;
  position: absolute;
  text-align: center;
  width: 70%;;
  transform: translate(-50%, 0%);
}
/* 메인 디자인 끝 */

/* 게시글 제목, 내용 디자인 시작 */
.partyForumWriteing-main-title{ 
  /* 커뮤니티 글꼴 적용 */
  margin-bottom: 30px;
  font-family: "Noto Sans KR ExtraBold";
}

.partyForumWriteing-title, .partyForumWriteing-content{
  display: flex;
  flex-direction: row;
}
.partyForumWriteing-title, .partyForumWriteing-content{
  font-family: "Noto Sans KR ExtraBold";
  font-size: 20px;
  margin-right: 20px;
}
.partyForumWriteing-title-text, .partyForumWriteing-content-text{
  margin-left: 35px;
  margin-right: 20px;
  line-height: 40px;
}
.partyForumWriteing-title>input, .partyForumWriteing-content>textarea {
  background-color: #F5F5F5;
  border-radius: 10px;
  padding: 0px 10px;
  width: 85%;
  height: 4vh;
  border: 1px solid black;
  color: black;
}
.partyForumWriteing-title>textarea:focus {
  outline: none;
}
/* 게시글 제목 디자인 끝 */

.partyForumWriteing-content{
  margin-top: 20px;
}
.partyForumWriteing-content > textarea{
  padding-top: 10px;
  resize: none;
  height: 377px;
}
.partyForumWriteing-content > textarea::placeholder{
  margin-top: 20px;
}
/* 게시글 내용 디자인 끝 */

/* 게시글 파일 업로드 디자인 시작 */
.partyForumWriteing-file{
  margin-top: 10px;
  position: relative;
  display: flex;
  width: 85%;
  margin-left: 7%; 
}
.icon-file-image{
  font-size: 35px;
}
.partyForumWriteing-file-select{
  padding-top: 5px;
  padding-left: 5px;
  background-color: #F5F5F5;
  width: 35%;
  text-align: left;
  margin-top: 10px;
  border: 1px solid black;
}
/* 게시글 파일 업로드 디자인 끝 */

/* 게시글 파일 작성 버튼 디자인 */
.partyForumWriteing-button{
  margin-top: 10px;
  border: 0;
  background-color: #595959;
  color: white;
  position: absolute;
  border-radius: 5px;
  width: 10%;
  height: 100%;
  font-size: 20px;
  right: 0%;
}






 


